.log {
  text-align: center;
  line-height: 50px;
  padding: 10px;
  border-radius: 20px;
  width: 100%;

  max-width: 1400px;
  background: orange;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.log1 {
  border-style: none;
  border-radius: 20px;
  padding: 16px 20px;
  color: orange;
  text-align: center;
  position: absolute;
  top: 70px;
  left: 41%;
}
.log2 {
  border-style: none;
  border-radius: 20px;
  padding: 16px 20px;
  color: orange;
  text-align: center;
  position: absolute;
  top: 120px;
  left: 41%;
}

.log button {
  border-radius: 10px;
  background-color: white;
  color: orange;
  border: 2px solid orange;
  padding: 16px;
  font-size: 20px;
  transition-duration: 0.4s;
  position: absolute;
  top: 178px;
  left: 46%;
}

.log button:hover {
  cursor: pointer;
  background-color: orange;
  border: 2px solid white;
  color: white;
}

.log0 {
  position: absolute;
  top: 16px;
  left: 47%;
  font-size: 25px;
  color: white;
}

div {
  position: relative;
  height: 200px;
}
