.formulario {
  padding-top: 0px;
  margin-bottom: 80px;
  background: orange;
}

.formulario input {
  text-align: center;
  padding: 10px;
  margin-left: 5px;
  border-style: none;
  border-radius: 10px;
  color: orange;
  font-size: 16px;
}
